<div class='container'>
    <br />
    <div class="row justify-content-center">

        <div class="col-md-10">
            <div class="card border-primary mb-3">
                <div class="card-header">Add New Post</div>
                <div class="card-body">
                    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="myForm">
                        <div class="form-group">
                            <textarea placeholder="Title of post" formControlName="title" class="form-control"
                                id="exampleTextarea" rows="3" required></textarea>
                        </div>
                        <label for="exampleTextarea">Choose tags: &nbsp;&nbsp;</label>
                        <span *ngFor="let tag of mytags; let i = index" formArrayName="tags">
                            <div class="form-check" style="display: inline;">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" [formControlName]="i">{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>
                            </div>
                        </span>
                        <fieldset>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div *ngFor="let h of homes">
                <br />
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{h.title}}</h5>

                        <p class="lead">
                            <span *ngFor="let t of h.tags">
                                <span class="badge badge-danger">{{t}}</span>&nbsp;
                            </span>
                        </p>
                        <p class="card-text">by {{h.owner}} on {{h.date|date}}</p>
                        <a href="#" class="btn btn-outline-primary ml-auto" [routerLink]="['/posts/',h._id]">See This</a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row justify-content-center" *ngIf="loadmoreButton">
                <button type="submit" class="btn btn-outline-primary" (click)="loadmore()">Load More</button>
            </div>
        </div>

        <div class="col-md-2">

            <div class="card border-primary mb-3">
                <div class="card-header">Tags</div>
                <div class="card-body">
                    <form [formGroup]="tagsForm" (ngSubmit)="onSubmit2()">
                        <span *ngFor="let tag of mytags;let i=index" formArrayName="tags">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" [formControlName]="i">{{tag}}
                                </label>
                            </div>
                        </span>
                        <fieldset>
                            <button type="submit" class="btn btn-success">Show</button>
                        </fieldset>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $('#my_modal').on('show.bs.modal', function (e) {
        var bookId = $(e.relatedTarget).data('book-id');
        $(e.currentTarget).find('input[name="bookId"]').val(bookId);
    });
</script>