<div class='container'>

    <div class="row justify-content-center">

        <div class="col-md-10">
            <div class="card border-primary mb-3">
                <div class="card-header">Add New Post</div>
                <div class="card-body">
                    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="myForm">
                        <div class="form-group">
                            <textarea placeholder="Title of post" formControlName="title" class="form-control"
                                id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <label for="exampleTextarea">Tags: </label>
                        <span *ngFor="let tag of mytags; let i = index" formArrayName="tags">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" [formControlName]="i">{{tag}}
                                </label>
                            </div>
                        </span>
                        <fieldset>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div *ngFor="let h of homes">
                <br />
                <div class="jumbotron">
                    <h4>{{h.title}}</h4>
                    <p class="lead"><span *ngFor="let t of h.tags"><span
                                class="badge badge-danger">{{t}}</span>&nbsp;</span></p>
                    <hr class="my-4">
                    <p>by {{h.owner}} on {{h.date|date}}</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">See This</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card border-primary mb-3">
                <div class="card-header">Tags</div>
                <div class="card-body">
                    <span *ngFor="let tag of mytags">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">{{tag}}
                            </label>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>