<div class="col-xs-12" style="height:10px;"></div>
<div class="card">
    <div class="list-group">

        <div class="card-body">

            <a class=" flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between card-header">
                    <h5 class="card-title">{{comment.title}}</h5>
                </div>
                <span *ngFor="let t of comment.tags"><span class="badge badge-danger">{{t}}</span>&nbsp;</span>
            </a>

            <small>
                <fa-icon [icon]="faCoffee"></fa-icon> {{comment.owner}} &nbsp;
            </small> | <fa-icon [icon]="faClock"></fa-icon><small>{{comment.date | dateAgo}}</small> | <small>
                <fa-icon [icon]="faComment"></fa-icon>
                {{comment.comments.length}}
            </small>
            <!-- | <small>10</small> -->

            <div class="col-xs-12" style="height:20px;"></div>
            <div *ngFor="let arraycomment of comment.comments">
                <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="container text-right">
                        <h5 class="mb-1"></h5>
                        <small>
                            <fa-icon [icon]="faCoffee"></fa-icon> &nbsp; {{arraycomment.owner}}
                        </small> |
                        <small>
                            <fa-icon [icon]="faClock"></fa-icon> &nbsp; {{arraycomment.updated | dateAgo}}
                        </small> |
                        <small>
                            <button type="button" (click)="onlikePost($event)" id="{{arraycomment._id}}">
                                <fa-icon [icon]="faThumbsUp"></fa-icon> &nbsp; {{arraycomment.like}}
                            </button>
                        </small>
                    </div>



                    <p class="mb-1">{{arraycomment.content}}</p>
                    <small class="text-muted">{{arraycomment.owner}}</small>

                </a>
                <reply [replies]="arraycomment.replies" [idComment]="arraycomment._id" [idPost]="comment._id">
                </reply>
                <div class="col-xs-12" style="height:30px;"></div>

            </div>
            <hr>
        </div>
        <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->

    </div>
</div>

<div class="col-xs-12" style="height:20px;"></div>
<form [formGroup]="myForm" (ngSubmit)="onPostComment()">
    <div class="form-group">
        <label for="exampleTextarea">Put your comment</label>
        <textarea class="form-control" name="comment" id="exampleTextarea" rows="3"
            formControlName="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="!myForm.valid">Submit</button>
</form>