<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span><img src="/assets/logo.png" style="width:50px;"></span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">NGSTACK</a>
            </li>

        </ul>
        <ul class="navbar-nav" [style.min-width.px]="'350'">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li class="nav-item" *ngIf="!(user | async)?.token"><a class="nav-link" routerLink="/login"
                    routerLinkActive="active">Login</a></li>
            <li class="nav-item" *ngIf="!(user | async)?.token; else userlogout"><a class="nav-link"
                    routerLink="/signup" routerLinkActive="active" class="btn btn-link">SignUp</a></li>


            <ng-template #userlogout>
                <p [style.color]="'white'">Welcome {{(user|async)?.name}}</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" mat-button>
                        <img src="{{(user | async)?.picture}}" *ngIf="(user | async)?.picture" [style.max-width.px]="35"
                            [style.max-height.px]="35" />
                        <mat-icon aria-hidden="false" aria-label="Example home icon">chevron down</mat-icon>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="nav-item" class="nav-link" [style.color]="'black'"><button (click)="logout()"
                                mat-button>Logout
                            </button></li>
                        <li class="nav-item " class="nav-link" [style.color]="'black'"><button routerLink="/edit"
                                mat-button>EditProfile</button></li>
                    </ul>
                </div>



            </ng-template>

        </ul>
    </div>
</nav>


<!-- <li class="nav-item" *ngIf="!(user | async ).token as user"><a class="nav-link" routerLink="/signup"
    routerLinkActive="active" class="btn btn-link">SignUp</a></li> -->
<!-- <div class="form-check float-right" style="margin-right: 200px;">

        <h2>Tags</h2>
        <div class="panel panel-default">
          <div class="checkbox panel-body">
                <input id="checkbox1" class="styled" type="checkbox">
                <label for="checkbox1">
                    Default
                </label>
            </div>
             
        <div class="checkbox checkbox-primary panel-body">
                <input id="checkbox2" class="styled" type="checkbox" checked>
                <label for="checkbox2">
                    Primary
                </label>
            </div>
        </div>


</div> -->


<div class="container">
    <router-outlet></router-outlet>
    <!-- <reply></reply> -->
</div>